<h1>Ye Great Old One, Elder God and Outer God Shoppe</h1>

<% @great_old_one.each do |goo| %>
  <h2>Name: <%= goo.name %></h2>
  <h3>Price: <%= goo.price %></h3>
  <img src=<%= goo.image %>>
  <h3>Description: <%= goo.description%></h3>
<% end %>