<h1>New Great Old One</h1>
<%= form_tag "/great_old_ones", method: :post do %>
<div>
  Name: <input type="text" name="name">
</div>
<div>
  Futile Description: <input type="text" name="description">
</div>
<div>
  Price: <input type="text" name="price">
</div>
<div>
  Image: <input type="text" name="image">
</div>
<input type="submit" name="Create Elder God">
<% end %>