h2 {
  color: purple
}

h3 {
  color: green
}

body {
  font-family: Rockwell,"Courier Bold",Courier,Georgia,Times,"Times New Roman",serif;
  background-image: url('darkness.png');
}

.well img {
  width: 100%
}

.product-index-single {
  height: 950px
}